<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scale= 1">
    <title>Edit Borders for geoquiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <%- include ("../fixed/nav") %>
    <% var data;
        var result %>
    <div class="container">
      <div class="row justify-content-center mt-3" style="white-space: pre-wrap;">
        <div class="col-lg-5 col-xs-9 col-md-9">
        <p>       This page is to update borders of country.
        Please make sure the coordinates are <span style="color: red;"> valid</span> and
       <span style="color: red;"> don't overlap </span> with other countries' borders.
        Use <a href="http://geojson.io/#map=2/20.0/0.0"> Geojson editor </a> draw borders.
        When updating Coordinates, copy the brackets and
        coordinates after "coordinates:" and make sure
        the number of brackets in the beginning and at
        the end match. It is recommended to save the
        coordinates as "GeoJSON" before copying
        the coordinates.</p>
      </div>
      <div class="col">
       <img src="edit-borders.gif" width ="550" height = "300" alt="Editing Border Example">
     </div>
   </div>

      <div class="row justify-content-center mt-3 ">
        <div class="col-xs-5 mr-4">
          <form class="mb-3" method="GET" action="/getCountryInfo">
              <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Enter Country Name: </span>
                </div>
                <input class="form-control" id="countryName" name="countryName" type="text" required>
                <input class="form-control" name="option" value="borders" type="hidden">
                <div class="input-group-append">
                  <input class="btn btn-info" id ="getData" type="submit" value="submit">
                </div>
              </div>
        </form>
      </div>
    </div>

    <%if (data != undefined && data[0] != undefined){ %>
        <% data = data[0] %>
    <!-- <form class="form-horizontal" id ="updateData" method ="PUT" action ="/update" > -->
      <table class="table"  id="databaseTable" value= <%= data._id %> >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Content</th>
          <th scope="col">Update</th>
          <!-- <th scope="col">Add</th> -->
        </tr>
      </thead>
      <tbody>
        <tr value ="properties.name" >
          <th scope="row">Country</th>
          <td><div id="name" class="row_data" edit_type="click"><%= data.properties.name[0] %></div></td>
          <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-check fa-lg"></i> </button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-remove fa-lg"> </i></button></span>
          </td>
            <td></td>
        </tr>

        <tr value ="geometry.type">
          <th scope="row">Geometry Type</th>
            <td>
              <div class="row_data" edit_type="click">
                <%= data.geometry.type %>
           </div></td>
            <td>
                <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-check fa-lg"></i></button></span>
                <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-remove fa-lg"></i></button></span>
            </td>
        </tr>

        <tr value="geometry.coordinates">
          <th scope="row">Geometry Coordinates</th>
            <td>
              <div class="row_data" edit_type="click">
                    <%= JSON.stringify(data.geometry.coordinates)%>
                        <br>
             </div></td>
            <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-check fa-lg"></i></button></span>
              <span class="btn-delete" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-trash fa-lg"> </i></button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> <i class="fa fa-remove fa-lg"></i></button></span>
            </td>
        </tr>

      </tbody>
    </table>
    <%} else if(data != undefined && data[0] == undefined){%>
        <div class="row justify-content-center"> Incorrect Country Name entered, please try again. </div>
    <% } %>

  </div>



    <script type="text/javascript" >
     $('li a').removeClass('active');
     $('a[href="/editBorders"]').addClass('active')

    var id = $("#databaseTable").attr('value');
    $(document).on('click', '.row_data', function(event)
    {
    event.preventDefault();

    if($(this).attr('edit_type') == 'button')
    {
      return false;
    }
    var tbl_row = $(this).closest('tr');

    tbl_row.find('.btn-save').css({"visibility": "visible"});
    tbl_row.find('.btn-cancel').css({"visibility": "visible"});
    tbl_row.find('.btn-delete').css({"visibility": "visible"});
    tbl_row.find('.row_data').attr("clicked", false);

    $(this).attr('original_entry', $(this).html());
    $(this).attr('clicked', true);

    //make div editable
    $(this).closest('div').attr('contenteditable', 'true');
    //add bg css
    $(this).addClass('bg-warning').css('padding','5px');

    $(this).focus();
    })


    $(document).on('click', '.btn-cancel', function(event)
    {
      event.preventDefault();
      var tbl_row = $(this).closest('tr');
    //	var row_id = tbl_row.attr('row_id');
      //hide save and cacel buttons
      tbl_row.find('.btn-save').css({"visibility": "hidden"});
      tbl_row.find('.btn-cancel').css({"visibility": "hidden"});
      tbl_row.find('.btn-delete').css({"visibility": "hidden"});
      tbl_row.find('.btn-add').css({"visibility": "hidden"});

      //make the whole row editable
      tbl_row.find('.row_data')
      .attr('edit_type', 'click')
      .removeClass('bg-warning')
      .css('padding','')

      tbl_row.find('.row_data').each(function(index, val)
      {
        $(this).html( $(this).attr('original_entry') );

      });

      tbl_row.find('.input').val("");

    });

    $(document).on('click', '.btn-delete', function(event)
      {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');
        var field = tbl_row.attr('value');
        var dataToRemove = $(".row_data[clicked=true]").html().trim();
      //  console.log(dataToRemove);
        //hide save and cacel buttons
        tbl_row.find('.btn-save').css({"visibility": "hidden"});
        tbl_row.find('.btn-cancel').css({"visibility": "hidden"});
        tbl_row.find('.btn-add').css({"visibility": "hidden"});
        tbl_row.find('.btn-delete').css({"visibility": "hidden"});

        if (field =="altName"){
          field = "properties.name"
        }
        if (field =="altCapital"){
          field= "properties.capital"
        }

        //make the whole row editable
        tbl_row.find('.row_data')
        .attr('edit_type', 'click')
        .removeClass('bg-warning')
        .css('padding','')

        $.ajax({
          url: '/deleteData',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            id: id,
            field: field,
            value: dataToRemove
          }),
          dataType: 'json',
          success: function(data){
              console.log("Success update request")
              location.reload();
            }
        });

      });

  //make cancel and add button appear
  $(document).on('click', '.input', function(event)
    {
        event.preventDefault();
      var tbl_row = $(this).closest('tr');
      //hide save and cacel buttons
      tbl_row.find('.btn-add').css({"visibility": "visible"});
      tbl_row.find('.btn-cancel').css({"visibility": "visible"});

    });

  //Add the data that was added
  $(document).on('click', '.btn-add', function(event)
    {
      event.preventDefault();
      var tbl_row = $(this).closest('tr');
      var field = tbl_row.attr('value');

      var dataToAdd = tbl_row.find(".input").val();
      //hide save and cacel buttons
      tbl_row.find('.btn-save').css({"visibility": "hidden"});
      tbl_row.find('.btn-cancel').css({"visibility": "hidden"});

      if (field =="altName"){
        field = "properties.name"
      }
      if (field =="altCapital"){
        field= "properties.capital"
      }


      $.ajax({
        url: '/addData',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          field: field,
          value: dataToAdd
        }),
        dataType: 'json',
        success: function(data){
          console.log(data)
          location.reload();
        }
      });
    });

  $(document).on('focusout', '.row_data', function(event)
  {
  event.preventDefault();

  if($(this).attr('edit_type') == 'button')
  {
    return false;
  }
  var row_div = $(this)
  .removeClass('bg-warning') //add bg css
  .css('padding','')

  })

    //Send Update Request
  $(document).on('click', '.btn-save', function(event)
  {
    event.preventDefault();

    var tbl_row = $(this).closest('tr');
    //Field to update in a database
    var field = tbl_row.attr('value');

    //Formatting the data in an array form without empty strings.
    var newData = tbl_row.find('.row_data').text().trim().split('\n');
    newData = newData.map(s =>s.trim());
    newData = newData.filter(Boolean)
    console.log(newData)
    console.log(tbl_row.find('.row_data').text());
    console.log(field);

    //hide save and cacel buttons
    tbl_row.find('.btn-save').css({"visibility": "hidden"});
    tbl_row.find('.btn-cancel').css({"visibility": "hidden"});
    tbl_row.find('.btn-delete').css({"visibility": "hidden"});

    var name; //can be capital or name depending on what field to update
    if (field == "altCapital"){
      name = $("#capital").html()
    }
    else if (field=="altName"){
      name = $('#name').html();
    }
    else if(field =="properties.name"){
      name = $('#name').html();
      var otherNames = $("#altName").find('.row_data').text().trim().split('\n');
      otherNames = otherNames.map(s=>s.trim()).filter(Boolean)
      newData = newData.concat(otherNames);
      console.log(newData)
    }
    else if(field =="properties.capital"){
      name = $("#capital").html()
      var otherCaps = $("#altCapital").find('.row_data').text().trim().split('\n');
      otherCaps = otherNames.map(s=>s.trim()).filter(Boolean)
      newData = newData.concat(otherCaps);
      console.log(newData)
    }
    console.log("name ---- " +name)


    $.ajax({
      url: '/update',
      type: 'PUT',

      contentType: 'application/json',
      data: JSON.stringify({
        id: id,
        name: name,
        field: field,
        value: newData
      }),
      dataType: 'json',
      success: function(data){
        console.log(data)
        console.log("Success update request")
      }
    });
  });
</script>
  </body>
  <!-- <script type="text/javascript" src="functions2.js"></script> -->

</html>
