<!DOCTYPE html>
<html>
  <head>
    <%- include ("../fixed/head") %>

  </head>
  <body onload = "submitGrade()">
    <div class="container">
            <p class="sentence">Total Score: <%= score %> out of 100 </p>
      <table class="table">
      <thead>
        <tr>
      <th scope="col"> # </th>
      <th scope="col"> Capital </th>
      <th scope="col"> Country </th>
      <th scope="col"> Score </th>
        </tr>
      </thead>
      <tbody>
      <%
          console.log ("this is a practice:::!!!!!--------------- " + practice);
          for (var i =0; i < 10; i++){
          var cap = i*2;
          var name = (i*2)+1;
          var scorePerQ = 0; %>
          <tr>
           <th scope="row"><%= i+1 %></th>

        <% if (correct[cap] == "wrong"){ %>
            <td><span class="wrong"><%= input[cap] %></span>  <%= correctAnswers[cap] %></td>
        <% } else if (correct[cap] =="right"){ %>
            <td><span class="right"><%=  input[cap] %></span> <%= correctAnswers[cap] %></td>
            <% scorePerQ += 5; %>
        <% } else { %>
            <td><span class="halfright"><%=  input[cap] %></span> <%= correctAnswers[cap] %></td>
            <% scorePerQ += 3; %>
        <% } %>
        <% if (correct[name] == "wrong"){ %>
            <td><span class="wrong"><%= input[name] %></span>  <%= correctAnswers[name] %></td>
        <% } else if (correct[name]=="right"){ %>
            <td><span class="right"><%=  input[name] %></span> <%= correctAnswers[name] %></td>
            <% scorePerQ += 5; %>
        <% } else { %>
            <td><span class="halfright"><%=  input[name] %></span> <%= correctAnswers[name] %></td>
            <% scorePerQ += 3; %>
        <% } %>

            <td> <%= scorePerQ %> </td>
          </tr>
    <% }; %>

      </tbody>
    </table>
    <%  if (practice== "true") {%>
      <form method="POST" action="/">
        <input type ="hidden"></input>
        <button class ="btn btn-primary" type="submit"> Home</button>
      </form>
    <% }else { %>

      <form id="finalScore"  method="POST" action="/submission" style="display: none">
        <% for (var i=0; i < input.length; i ++){ %>
        <%  var answer = input[i].replace(" ","_") %>
        <input type="hidden" id="inputs" name="studentsAnswers" value= <%= answer %>  > </input>
       <%  } %>
        <input type ="hidden" name="score" value = <%= score %> ></input>
        <input type="hidden" name="userId" value = <%= user %>> </input>
        <input type="hidden" name="courseId" value =<%= course %>></input>
        <input type="hidden" name ="assignmentId" value =<%= assignment %>></input>
        <button class ="btn btn-primary"  type="submit"> Submit my grade </button>
      </form>
      <% }%>
    </div>

  </body>
  <script>
  function submitGrade(){
    if( document.getElementById('finalScore')){
      console.log("entered submitGrade function");
      document.getElementById('finalScore').submit();
    }
    else{
      return;
    }
  }
  window.location.hash="no-back-button";
  window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
  window.onhashchange=function(){window.location.hash="no-back-button";}

  document
  </script>


</html>
